@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 2px;
}
body {
  font-family: "Roboto", sans-serif;
  
}
@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');

.swiper{
  padding: 0;
  width: 100%;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.swiper-slide{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: left;
  background-position: fixed;
  transition: all 0.3s ease;

}
.text-jop{
  writing-mode: vertical-rl;
}
.name-text{
  font-family: 'Freehand', cursive;
}